<article href="/items/{{ item.item_pk }}" mix-get class="item">
    <figure>
        <img src="/static/uploads/{{ item.item_image }}" alt="{{ item.item_name }}">
    </figure>
    
    <div class="item-content">
        <h3>{{ item.item_name }}</h3>
        
        <address>
            {{ item.item_address }}
        </address>
        
        <div class="item-price">
    {% if lan == "en" %}
    {{ "{:.2f}".format(item.item_price * 0.134) }} EUR
    {% else %}
    {{ "{:,}".format(item.item_price) }} DKK
    {% endif %}
</div>
    </div>
</article>