<article id="item">
    <div class="fleamarket-images">
        <figure class="main-image">
            <img src="/static/uploads/{{ item.item_image }}" alt="{{ item.item_name }}">
        </figure>
        
        {% if additional_images %}
            <div class="additional-images">
                {% for image in additional_images %}
                    <img src="/static/uploads/{{ image }}" alt="Additional image for {{ item.item_name }}">
                {% endfor %}
            </div>
        {% endif %}
    </div>
    
    <header>
        <h2>{{ item.item_name }}</h2>
    </header>

    <address>
        {{ item.item_address }}
    </address>

    <div class="item-price">
        {{ "{:,}".format(item.item_price) }} DKK
        {{ "{:,.2f}".format(item.item_price * 0.146) }} USD
    </div>
    
    {% if not standalone|default(false) %}
    <div class="item-actions">
        <a href="/items/{{ item.item_pk }}" target="_blank" class="button">
            Open in window
        </a>
    </div>
    {% endif %}
</article>