{% include "_header.html" %}
{% include "_nav.html" %}

<main id="admin" class="page"
mix-url="/admin"
mix-bottom="body"
mix-title="{{ title | default('Company') }}"
mix-hide=".page"
mix-show="#admin">


    <header><h1>{{ languages[lan~"_admin_dashboard"] }}</h1></header>
    
    <section id="users">
        <header><h2>{{ languages[lan~"_users"] }}</h2></header>
        <div class="users-table">
            <table>
                <thead>
                    <tr>
                        <th>{{ languages[lan~"_id"] }}</th>
                        <th>{{ languages[lan~"_username_column"] }}</th>
                        <th>{{ languages[lan~"_email_column"] }}</th>
                        <th>{{ languages[lan~"_actions"] }}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in users: %}
                    <tr class="user-row {% if user.user_blocked_at != 0 %}blocked{% endif %}">
                        <td>{{ user.user_pk[:8] }}...</td>
                        <td>{{ user.user_username }}</td>
                        <td>{{ user.user_email }}</td>
                        <td>
                            {% if user.user_blocked_at == 0: %}
                                {% include "_button_block_user.html" %}
                            {% else: %}
                                {% include "_button_unblock_user.html" %}
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </section>

    <section id="adminitems">
        <header><h2>{{ languages[lan~"_fleamarkets"] }}</h2></header>
        <div class="users-table">
            <table>
                <thead>
                    <tr>
                        <th>{{ languages[lan~"_id"] }}</th>
                        <th>{{ languages[lan~"_name_column"] }}</th>
                        <th>{{ languages[lan~"_image"] }}</th>
                        <th>{{ languages[lan~"_actions"] }}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in items: %}
                    <tr class="item-row {% if item.item_blocked_at != 0 %}blocked{% endif %}">
                        <td>{{ item.item_pk[:8] }}...</td>
                        <td>{{ item.item_name }}</td>
                        <td><img src="/static/uploads/{{ item.item_image }}" alt="{{ item.item_name }}" class="admin-item-image"></td>
                        <td>
                            {% if item.item_blocked_at == 0: %}
                                {% include "_button_block_item.html" %}
                            {% else: %}
                                {% include "_button_unblock_item.html" %}
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </section>
</main>

{% include "_footer.html" %}