{% include "_header.html" %}
{% include "_nav.html" %}

<main id="update-profile" class="page"
mix-url="/update-profile"
mix-bottom="body"
mix-title="{{ title | default('Company') }}"
mix-hide=".page"
mix-show="#update-profile">

{% include "_profile_nav.html" %}

<h1>{{ languages[lan~"_edit_profile"] }}</h1>
{% if session.user %}

<div class="edit-profile">
    <form mix-post="/update-profile">
        <div>
            <label for="">
                <span>{{ languages[lan~"_username"] }}</span>
                <span>{{ languages[lan~"_username_rules"] }}</span>
            </label>
            <input name="user_username" type="text" value="{{ session.user.user_username }}" mix-check="{{ x.USER_USERNAME_REGEX }}">
        </div> 
        
        <div>
            <label for="">
                <span>{{ languages[lan~"_email"] }}</span>
            </label>
            <input name="user_email" type="text" value="{{ session.user.user_email }}" mix-check="{{ x.USER_EMAIL_REGEX }}">
        </div>
        
        <div>
            <label for="">
                <span>{{ languages[lan~"_current_password"] }}</span>
                <span>{{ languages[lan~"_required_for_changes"] }}</span>
            </label>
            <input name="current_password" type="password" required>
        </div>
        
        <div>
            <label for="">
                <span>{{ languages[lan~"_new_password"] }}</span>
                <span>{{ languages[lan~"_leave_empty"] }}</span>
            </label>
            <input name="new_password" type="password">
        </div>
        
        <div>
            <label for="">
                <span>{{ languages[lan~"_confirm_password"] }}</span>
            </label>
            <input name="confirm_password" type="password">
        </div>
        
        <button
        mix-await="{{ languages[lan~'_updating'] }}"
        mix-default="{{ languages[lan~'_update'] }}">
            {{ languages[lan~"_update"] }}
        </button>
    </form>
</div>

{% else %}
<p>{{ languages[lan~"_not_logged_in"] }}</p>
{% endif %}
</main>

{% include "_footer.html" %}