{% include "_header.html" %}
{% include "_nav.html" %}

<main id="reset-password" class="page"
mix-url="/reset-password"
mix-bottom="body"
mix-title="{{ languages[lan~'_site_name'] }} | {{ languages[lan~'_reset_password'] }}"
mix-hide=".page"
mix-show="#reset-password">

    <header>
        <h1>{{ languages[lan~"_reset_password"] }}</h1>
        <p>{{ languages[lan~"_reset_password_instructions"] }}</p>
    </header>

    <form mix-post="/reset-password">
        <div>
            <label for="user_email">
                <span>{{ languages[lan~"_email"] }}</span>
            </label>
            <input id="user_email" name="user_email" type="text" mix-check="{{ x.USER_EMAIL_REGEX }}">
        </div>
        
        <button
    mix-await="{{ languages[lan~'_please_wait'] }}"
    mix-default="{{ languages[lan~'_reset_password'] }}">
    {{ languages[lan~"_reset_password"] }}
</button>
    </form>
    
</main>

{% include "_footer.html" %}