{% include "_header.html" %}
{% include "_nav.html" %}

<main id="signup" class="page"
mix-url="/signup"
mix-bottom="body"
mix-title="{{ title | default('Company') }}"
mix-hide=".page"
mix-show="#signup">

<header>
    <h1>
        {{ languages[lan~"_signup"] }}
    </h1>
</header>

<div>
    {% if message %}
        <div class="success-message">
            {{ message }}
        </div>
    {% endif %}

    {% if error_message %}
        <div class="error-message">
            {{ error_message }}
        </div>
    {% endif %}
</div>

<form mix-post="/signup">
    <div>
        <label>
            <span>{{ languages[lan~"_username"] }}</span>
            <span>{{ languages[lan~"_username_rules"] }}</span>
        </label>
        <input name="user_username"
               type="text"
               mix-check="{{ x.USER_USERNAME_REGEX | e }}"
               mix-error="{{ languages[lan~'_invalid_username'] }}">
    </div>

    <div>
        <label>
            <span>{{ languages[lan~"_name"] }}</span>
            <span>{{ languages[lan~"_user_name_rules"] }}</span>
        </label>
        <input name="user_name"
               type="text"
               mix-check="{{ x.USER_NAME_REGEX | e }}"
               mix-error="{{ languages[lan~'_invalid_name'] }}">
    </div>

    <div>
        <label>
            <span>{{ languages[lan~"_lastname"] }}</span>
            <span>{{ languages[lan~"_user_lastname_rules"] }}</span>
        </label>
        <input name="user_last_name"
               type="text"
               mix-check="{{ x.USER_LAST_NAME_REGEX | e }}"
               mix-error="{{ languages[lan~'_invalid_lastname'] }}">
    </div>

    <div>
        <label>
            <span>{{ languages[lan~"_email"] }}</span>
        </label>
        <input name="user_email"
               type="text"
               mix-check="{{ x.USER_EMAIL_REGEX | e }}"
               mix-error="{{ languages[lan~'_invalid_email'] }}">
    </div>

    <div>
        <label>
            <span>{{ languages[lan~"_password"] }}</span>
            <span>{{ languages[lan~"_password_rules"] }}</span>
        </label>
        <input name="user_password"
               type="password"
               mix-check="{{ x.USER_PASSWORD_REGEX | e }}"
               mix-error="{{ languages[lan~'_invalid_password'] }}">
    </div>

    <button
        mix-await="{{ languages[lan~'_please_wait'] }}"
        mix-default="{{ languages[lan~'_signup'] }}">
        {{ languages[lan~"_signup"] }}
    </button>
</form>

</main>

{% include "_footer.html" %}
