{% include "_header.html" %}
{% include "_nav.html" %}

<main id="profile" class="page"
mix-url="/profile"
mix-bottom="body"
mix-title="{{ title | default('Company') }}"
mix-hide=".page"
mix-show="#profile">

<nav>
    {% if "user" in session and session["user"] %}
    <ul>
        <li><a href="/update-profile" mix-get="/update-profile" mix-page>Update profile</a></li>
        <li><a href="/your-fleamarket" mix-get="/your-fleamarket" mix-page>Add / update fleamarket</a></li>
    </ul>
    {% endif %}
</nav>


<h1>Your Profile</h1>
{% if session.user %}
<div class="profile-info">
    <p>Username: {{ session.user.user_username }}</p>
    <p>Name: {{ session.user.user_name }} {{ session.user.user_last_name }}</p>
    <p>Email: {{ session.user.user_email }}</p>
</div>

<div>
    <button id="delete-profile-btn" class="delete-btn">Delete Profile</button>
</div>

<div id="delete-confirm-modal" class="modal hidden">
    <div class="modal-content">
        <h2>Delete Profile</h2>
        <p>Please enter your password to confirm.</p>
        <form mix-post="/delete-account">
            <div class="form-group">
                <label for="confirm_password">Password:</label>
                <input id="confirm_password" name="confirm_password" type="password" required>
            </div>
            <div class="modal-actions">
                <button type="button" id="cancel-delete-btn">Cancel</button>
                <button type="submit" mix-await="Deleting..." mix-default="Delete Account">Delete Profile</button>
            </div>
            <div class="delete-message-area"></div>
        </form>
    </div>
</div>

{% else %}
<p>You are not logged in.</p>
{% endif %}
</main>

{% include "_footer.html" %}