{% include "_header.html" %}
{% include "_nav.html" %}

<main id="login" class="page">

    <header>
        <h1>{{ languages[lan~"_login"] }}</h1>
    </header>
    
    <div>
        {% if message %}
        <div class="success-message">
            {{ message }}
        </div>
        {% endif %}
        
        {% if error_message %}
        <div class="error-message">
            {{ error_message }}
        </div>
        {% endif %}
    </div>

    <form method="post" action="/login" mix-post="/login">    
        <div>
            <label>
                <span>{{ languages[lan~"_username"] }}</span>
            </label>
            <input name="user_username" type="text" pattern="{{ x.USER_USERNAME_REGEX }}">
        </div>
        <div>
            <label>
                <span>{{ languages[lan~"_password"] }}</span>
            </label>
            <input name="user_password" type="password" pattern="{{ x.USER_PASSWORD_REGEX }}">
        </div>    
            
        <button type="submit">
            {{ languages[lan~"_login"] }}
        </button>
    </form>

    <div class="reset-password">
        <a class="resetbutton" href="/reset-password">
            {{ languages[lan~"_reset_password"] }}
        </a>
    </div>

</main>

{% include "_footer.html" %}
