{% include "_header.html" %}
{% include "_nav.html" %}

<main id="index" class="page"
mix-url="/"
mix-bottom="body"
mix-hide=".page" mix-show="#index"
mix-title="{{ title | default('Company') }}">

    <section id="map">

    </section>

    <section id="items_more">
        <div id="items">
            {% for item in items: %}
                {% include "_item_mini.html" %}
            {% endfor %}
        </div>
        {% if items %}
            {% include "_button_more_items.html" %}
        {% endif %}
    </section>

    <section id="right">
        {% if items %}
            {% set item = items[0] %}
            {% include "_item.html" %}
        {% else %}
            <div class="no-items-message">
                <h2>{{ languages[lan~"_no_items_available_title"] }}</h2>
                <p>{{ languages[lan~"_no_items_available"] }}</p>
            </div>
        {% endif %}
    </section>

</main>

{% include "_footer.html" %}