{% include "_header.html" %}
{% include "_nav.html" %}

<main id="your-fleamarket" class="page"
mix-url="/your-fleamarket"
mix-bottom="body"
mix-title="{{ title | default('Company') }}"
mix-hide=".page"
mix-show="#your-fleamarket">

{% include "_profile_nav.html" %}

<h1>{{ languages[lan~"_your_fleamarket"] }}</h1>
{% if session.user %}

<div class="edit-profile">    
    <div class="message-container">
        {% if message %}
        <div class="success-message">
            {{ message }}
        </div>
        {% endif %}
        
        {% if error_message %}
        <div class="error-message">
            {{ error_message }}
        </div>
        {% endif %}
    </div>

{% if user_fleamarket %}
<div class="fleamarket-images">
    <div class="main-image">
        <img src="/static/uploads/{{ user_fleamarket.item_image }}" alt="{{ user_fleamarket.item_name }}">
    </div>
    
    {% if additional_images %}
        <div class="additional-images">
            {% for image in additional_images %}
                <img src="/static/uploads/{{ image }}" alt="{{ languages[lan~'_additional_image_for'] }} {{ user_fleamarket.item_name }}">
            {% endfor %}
        </div>
    {% endif %}
</div>
{% endif %}


    {% if user_fleamarket %}

        <h2>{{ languages[lan~"_edit_your_fleamarket"] }}</h2>
        <form mix-post="/your-fleamarket/update" class="fleamarket-form" enctype="multipart/form-data">
            <input type="hidden" name="item_pk" value="{{ user_fleamarket.item_pk }}">
            <div>
                <label for="">
                    <span>{{ languages[lan~"_fleamarket_name"] }}</span>
                </label>
                <input name="item_name" type="text" mix-check="{{ x.ITEM_NAME_REGEX }}" value="{{ user_fleamarket.item_name }}">
            </div> 
    
            <div>
                <label for="">
                    <span>{{ languages[lan~"_address"] }}</span>
                </label>
                <input name="item_address" type="text" mix-check="{{ x.ITEM_ADDRESS_REGEX }}" value="{{ user_fleamarket.item_address }}">
            </div>
    
            <div>
                <label for="fleamarket-images">
                    <span>{{ languages[lan~"_images"] }} ({{ languages[lan~"_upload_up_to_3"] }})</span>
                </label>
                <input type="file" id="fleamarket-images" name="files" multiple accept="image/png, image/jpeg, image/jpg, image/gif" class="file-input">
                {% if user_fleamarket.item_image %}
                    <small>{{ languages[lan~"_current_main_image"] }}: {{ user_fleamarket.item_image }}</small>
                {% endif %}
            </div>
    
            <div>
    <label for="">
        <span>{{ languages[lan~"_ticket_price"] }} {% if lan == "en" %}(EUR){% else %}(DKK){% endif %}</span>
    </label>
    <input name="item_price" type="text" mix-check="{{ x.ITEM_PRICE_REGEX }}" value="{% if lan == 'en' %}{{ (user_fleamarket.item_price * 0.134) | round(2) }}{% else %}{{ user_fleamarket.item_price }}{% endif %}">
</div>
    
            <div>
                <label for="">
                    <span>{{ languages[lan~"_latitude"] }}</span>
                </label>
                <input name="item_latitude" type="text" mix-check="{{ x.ITEM_LATITUDE_REGEX }}" value="{{ user_fleamarket.item_lat }}">
            </div>
    
            <div>
                <label for="">
                    <span>{{ languages[lan~"_longitude"] }}</span>
                </label>
                <input name="item_longitude" type="text" mix-check="{{ x.ITEM_LONGITUDE_REGEX }}" value="{{ user_fleamarket.item_lon }}">
            </div>
            <div class="button-group">
                <button
                type="submit"
                mix-await="{{ languages[lan~'_updating'] }}"
                mix-default="{{ languages[lan~'_update'] }}">
                    {{ languages[lan~"_update"] }}
                </button>
            </div>
        </form>

        <form mix-post="/your-fleamarket/delete" style="margin-top: 10px;">
            <input type="hidden" name="item_pk" value="{{ user_fleamarket.item_pk }}">
            <button type="submit" class="delete-btn" mix-await="{{ languages[lan~'_deleting'] }}" mix-default="{{ languages[lan~'_delete_fleamarket'] }}">
                {{ languages[lan~"_delete_fleamarket"] }}
            </button>
        </form>

    {% else %}
        
        <h2>{{ languages[lan~"_register_your_fleamarket"] }}</h2>
        <form mix-post="/your-fleamarket" enctype="multipart/form-data">
            <div>
                <label for="">
                    <span>{{ languages[lan~"_fleamarket_name"] }}</span>
                </label>
                <input name="item_name" type="text" mix-check="{{ x.ITEM_NAME_REGEX }}">
            </div> 
    
            <div>
                <label for="">
                    <span>{{ languages[lan~"_address"] }}</span>
                </label>
                <input name="item_address" type="text" mix-check="{{ x.ITEM_ADDRESS_REGEX }}">
            </div>
    
            <div>
                <label for="new-fleamarket-images">
                    <span>{{ languages[lan~"_images"] }} ({{ languages[lan~"_upload_up_to_3"] }})</span>
                </label>
                <input type="file" id="new-fleamarket-images" name="files" multiple accept="image/png, image/jpeg, image/jpg, image/gif" class="file-input">
            </div>
    
            <div>
    <label for="">
        <span>{{ languages[lan~"_ticket_price"] }} {% if lan == "en" %}(EUR){% else %}(DKK){% endif %}</span>
    </label>
    <input name="item_price" type="text" mix-check="{{ x.ITEM_PRICE_REGEX }}">
</div>
    
            <div>
                <label for="">
                    <span>{{ languages[lan~"_latitude"] }}</span>
                </label>
                <input name="item_latitude" type="text" mix-check="{{ x.ITEM_LATITUDE_REGEX }}">
            </div>
    
            <div>
                <label for="">
                    <span>{{ languages[lan~"_longitude"] }}</span>
                </label>
                <input name="item_longitude" type="text" mix-check="{{ x.ITEM_LONGITUDE_REGEX }}">
            </div>
            <button
            mix-await="{{ languages[lan~'_please_wait'] }}"
            mix-default="{{ languages[lan~'_add'] }}">
                {{ languages[lan~"_add"] }}
            </button>
        </form>
    {% endif %}
</div>

{% else %}
<p>{{ languages[lan~"_not_logged_in"] }}</p>
{% endif %}
</main>

{% include "_footer.html" %}