{% include "_header.html" %}
{% include "_nav.html" %}

<main id="new-password" class="page"
mix-url="/reset-password/{{ reset_key }}"
mix-bottom="body"
mix-title="{{ title | default('Company') }}"
mix-hide=".page"
mix-show="#new-password">

    <header>
        <h1>{{ languages[lan~"_create_new_password"] }}</h1>
        <p>{{ languages[lan~"_enter_new_password"] }}</p>
    </header>

    <form mix-post="/reset-password/{{ reset_key }}">
        <div>
            <label for="user_password">
                <span>{{ languages[lan~"_new_password"] }}</span>
                <span>{{ x.USER_PASSWORD_MIN }} {{ languages[lan~"_to"] }} {{ x.USER_PASSWORD_MAX }} {{ languages[lan~"_characters"] }}</span>
            </label>
            <input id="user_password" name="user_password" type="password" mix-check="{{ x.USER_PASSWORD_REGEX }}">
        </div>
        
        <div>
            <label for="user_password_confirm">
                <span>{{ languages[lan~"_confirm_password"] }}</span>
            </label>
            <input id="user_password_confirm" name="user_password_confirm" type="password">
        </div>
        
        <button
mix-await="{{ languages[lan~'_please_wait'] }}"
mix-default="{{ languages[lan~'_update_password'] }}">
    {{ languages[lan~"_update_password"] }}
</button>
    </form>
</main>

{% include "_footer.html" %}